<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Prijava</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Login">
			<table class="forma">
				<caption>Prijava</caption>
				<tr><th>Korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
				<tr><th>Lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
				<tr><th></th><td><input type="submit" value="Prijava"/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>