<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Registracija</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Korisnici/Register">
			<table class="forma">
				<caption>Registracija</caption>
				<tr><th>Korisnicko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
				<tr><th>Lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
				<tr><th>Ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
				<tr><th>E-mail:</th><td><input type="text" name="email"/></td></tr>
				<tr><th>Ime:</th><td><input type="text" name="ime"/></td></tr>
				<tr><th>Prezime:</th><td><input type="text" name="prezime"/></td></tr>
				<tr><th>Datum rodjenja:</th><td><input type="date" name="datumRodjenja"/></td></tr>
				<tr><th>Adresa:</th><td><input type="text" name="adresa"/></td></tr>
				<tr><th>Broj telefona:</th><td><input type="text" name="brojTelefona"/></td></tr>
				<tr>
			
				</tr>
				<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>