<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjiga/Create">
			<table class="forma">
				<caption>Dodavanje knjige</caption>
				<tr><th>Isbn:</th><td><input type="text" name="isbn"/></td></tr>
				<tr><th>Naziv:</th><td><input type="text" name="naziv"/></td></tr>
				<tr><th>Izdavacka kuca:</th><td><input type="text" name="izdavackaKuca"/></td></tr>
				<tr><th>Autor:</th><td><input type="text" name="autor"/></td></tr>
				<tr><th>Godina izdavanja:</th><td><input type="text" name="godinaIzdavanja"/></td></tr>
				<tr><th>Opis:</th><td><input type="text" name="opis"/></td></tr>
				<tr><th>Cena:</th><td><input type="number" name="cena"/></td></tr>
				<tr><th>Broj stranica:</th><td><input type="number" name="brojStranica"/></td></tr>
				<tr><th>Tip poveza:</th><td><input type="text" name="tipPoveza"/></td></tr>
				<tr><th>Pismo:</th><td><input type="text" name="pismo"/></td></tr>
				<tr><th>Jezik:</th><td><input type="text" name="jezik"/></td></tr>
				<tr><th>Ocena:</th><td><input type="number"  min="0" name="ocena"/></td></tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}"/><span th:text="${itZanr.ime}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="Knjiga">Povratak</a></li>
		</ul>
	</div>
</body>
</html>