<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Prijava</title>
</head>
<body>
	<h2>Biblioteka</h2>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td> <span th:text="${session.prijavljeniKorisnik.korisnickoIme}"> </span></td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">Odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">Registracija</a></li>
					<li><a href="prijava.html">Prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Knjiga">Knjige</a></li>
	</ul>
</body>
</html>
