<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Knjige</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Knjige</caption>

				<tr>
					<th>Sortiraj po</th>
					<th>
						<input type="radio" name="sort" th:value="naziv"/>
					</th>
					<th>
						<input type="radio" name="sort" th:value="cena"/>
					</th>
					<th>
						<input type="radio" name="sort" th:value="ocena"/>
					</th>
					<th>
						<input type="radio" name="sort" th:value="autor"/>
					</th>
					<th>
						<input type="radio" name="sort" th:value="jezik"/>
					</th>
					<th>
						Rastuce <input type="radio" name="redosled" th:value="rastuce" checked/>
						Opadajuce <input type="radio" name="redosled" th:value="opadajuce"/>
					</th>
				</tr>

				<tr>
					<th>ISBN</th>
					<th>Naziv</th>
					<th>Cena</th>
					<th>Prosečna ocena knjige</th>
					<th>Autor</th>
					<th>Jezik</th>
					<th></th>
				</tr>
				<tr>
					<th><input type="search" name="isbn" th:value="${param.isbn}?: null" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"/></th>
					<th>
						<input type="search" name="naziv" th:value="${param.naziv}?: null"/>
					</th>
					<th>
						<div> Min cena<input type="search" name="minCena" th:value="${param.minCena}?: null"/> </div>
						<div> Max cena<input type="search" name="maxCena" th:value="${param.maxCena}?: null"/> </div>
					</th>
					<th>
						<input type="search" name="ocena" th:value="${param.ocena}?: null"/>
					</th>
					<th>
						<input type="search" name="autor" th:value="${param.autor}?: null"/>
					</th>
					<th>
						<input type="search" name="jezik" th:value="${param.jezik}?: null"/>
					</th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
				<tr th:each="itKnjiga, status: ${knjige}">
					<td class="broj" th:text="${itKnjiga.isbn}"></td>
					<td><a th:href="|Knjiga/Details?isbn=${itKnjiga.isbn}|" th:text="${itKnjiga.naziv}"></a></td>
					<td class="broj" th:text="${itKnjiga.cena}"></td>
					<td class="broj" th:text="${itKnjiga.ocena}"></td>
					<td class="broj" th:text="${itKnjiga.autor}"></td>
					<td class="broj" th:text="${itKnjiga.jezik}"></td>
				</tr>
			</table>
		</form>
		<ul th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<li>
			<a href="Knjiga/Create">Dodavanje knjige </a></li>
		</ul>
	</div>
</body>
</html>