<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Knjiga</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjiga/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="isbn" th:value="${knjiga.isbn}"/>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr><th>Isbn:</th><td><input type="text" th:value="${knjiga.isbn}" name="isbn" disabled/></td></tr>
				<tr><th>Naziv:</th><td><input type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
				<tr><th>Izdavacka kuca:</th><td><input type="text" th:value="${knjiga.izdavackaKuca}" name="izdavackaKuca"/></td></tr>
				<tr><th>Autor:</th><td><input type="text" th:value="${knjiga.autor}" name="autor"/></td></tr>
				<tr><th>Godina izdavanja:</th><td><input type="text" min="5" th:value="${knjiga.godinaIzdavanja}" name="godinaIzdavanja"/></td></tr>
				<tr><th>Opis:</th><td><input type="text" th:value="${knjiga.opis}" name="opis"/></td></tr>
				<tr><th>Cena:</th><td><input type="number" min="0" th:value="${knjiga.cena}" name="cena"/></td></tr>
				<tr><th>Broj stranica:</th><td><input type="number" th:value="${knjiga.brojStranica}" name="brojStranica"/></td></tr>
				<tr><th>Tip poveza:</th><td><input type="text" th:value="${knjiga.tipPoveza}" name="tipPoveza"/></td></tr>
				<tr><th>Pismo:</th><td><input type="text" th:value="${knjiga.pismo}" name="pismo"/></td></tr>
				<tr><th>Jezik:</th><td><input type="text" th:value="${knjiga.jezik}" name="jezik"/></td></tr>
				<tr><th>Ocena:</th><td><input type="number" min="1" max="10" th:value="${knjiga.ocena}" name="ocena"/></td></tr>

				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.ime}"></span><br>
						</th:block>
					</td>
				</tr>

				<tr><th>Broj primeraka:</th><td><input type="number" min="1" max="10" th:value="${knjiga.brojPrimeraka}" name="brojPrimeraka" disabled/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>

		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption>Knjiga</caption>
			<tr><th>Izdavacka kuca:</th><td th:text="${knjiga.izdavackaKuca}"></td></tr>
			<tr><th>Autor:</th><td th:text="${knjiga.autor}"></td></tr>
			<tr><th>Godina izdavanja:</th><td th:text="${knjiga.godinaIzdavanja}"></td></tr>
			<tr><th>Opis:</th><td th:text="${knjiga.opis}"/></td></tr>
			<tr><th>Cena:</th><td th:text="${knjiga.cena}"/></td></tr>
			<tr><th>Broj stranica:</th><td th:text="${knjiga.brojStranica}"/></td></tr>
			<tr><th>Tip poveza:</th><td th:text="${knjiga.tipPoveza}"/></td></tr>
			<tr><th>Pismo:</th><td th:text="${knjiga.pismo}"/></td></tr>
			<tr><th>Jezik:</th><td th:text="${knjiga.jezik}"/></td></tr>
			<tr><th>Ocena:</th><td th:text="${knjiga.ocena}"/></td></tr>
			<tr>
				<th>žanr:</th>
				<td>
					<th:block th:each="itZanr: ${zanrovi}">
						<input disabled type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.ime}"></span><br>
					</th:block>
				</td>
			</tr>
		</table>
		
		<div>
			<form method="get" action="Knjiga/Poruci" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
				<input type="number" name="brojPorucenihPrimeraka"/>
				<input type="hidden" name="isbn" th:value="${knjiga.isbn}"/>
				<input type="submit" value="Poruci"/>
			</form>
		</div>
		<p class="uspesno" th:text="${poruka}"></p>
	</div>
</body>
</html>