<!DOCTYPE html>
<html th:fragment="layout(title, links, content)" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednošću context path-a -->
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/basePage.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<!-- naslov -->
	<title th:replace="${title}"></title>
	<!-- blok za dodatne linkove -->
    <th:block th:replace="${links}" />
</head>
<body>
	<h2>Biblioteka</h2>
	<ul>
		<li><a href="">Početna</a></li>
	</ul>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<!-- <tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr> -->
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">Odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<!-- <table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table> -->
	<ul>
<!-- 		<li><a href="Zanrovi">žanrovi</a></li>
 -->		<li><a href="Knjiga">Knjige</a></li>
		<!-- <li><a href="Projekcije">projekcije</a></li> -->
		<!-- <li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li> -->
	</ul>
	
	<div th:replace="${content}"></div>

	<!-- <table class="horizontalni-meni" th:unless="${#servletContext.getAttribute('statistikaFilmova').empty}">
		<caption>Popularni filmovi</caption>
		<tr>
			<td>
				<ul>
					<li th:each="itBrojac: ${#servletContext.getAttribute('statistikaFilmova').filmovi}">
						<a th:href="|Filmovi/Details?id=${itBrojac.film.id}|" th:text="${itBrojac.film.naziv}"></a>
						<progress th:value="${itBrojac.brojac}" th:max="${#servletContext.getAttribute('statistikaFilmova').max}"></progress>
						<span th:text="${itBrojac.brojac}"></span>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="horizontalni-meni" th:unless="${session.poseceniFilmoviZaKorisnika.empty}">
		<caption>Posećeni filmovi</caption>
		<tr>
			<td>
				<ul>
					<li th:each="itFilm: ${session.poseceniFilmoviZaKorisnika}"><a th:href="|Filmovi/Details?id=${itFilm.id}|" th:text="${itFilm.naziv}"></a></li>
				</ul>
			</td>
		</tr>
	</table> -->
	<footer id="podnozje" class="podnozje">
		<div>Footer</div>
		<!-- Autor <a href="http://www.ftn.uns.ac.rs/2048313130/sinisa-nikolic">Siniša Nikolić</a> <a href="mailto:sinisa_nikolic@uns.ac.rs?subject=Konsultacije&body=Izmeni%20tekst!"><img src="images/mail.png"/></a> -->
	</footer>
</body>
</html>